@import "tailwindcss";



.custom-paginator {
  display: flex;
   gap: 6px;
  align-items: center;
}


.custom-paginator .p-paginator-page {
  width: 36px;
  height: 36px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #374151; 
  cursor: pointer;
  transition: all 0.2s ease;
}


.custom-paginator .p-paginator-page:hover {
  background: #f3f4f6; 
}

.custom-paginator .p-paginator-page.p-highlight {
  background: #2563eb; 
  color: white;
  border-color: #2563eb;
}

.custom-paginator .p-paginator-prev,
.custom-paginator .p-paginator-next {
  padding: 0 12px;
  height: 36px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
  color: #374151;
  cursor: pointer;
}


.custom-paginator .p-paginator-prev:hover,
.custom-paginator .p-paginator-next:hover {
  background: #f3f4f6;
}

.custom-paginator .p-paginator-prev::before {
  content: "Previous";
}

.custom-paginator .p-paginator-next::before {
  content: "Next";
}


.custom-paginator .p-paginator-prev .p-paginator-icon,
.custom-paginator .p-paginator-next .p-paginator-icon {
  display: none;
}
